<component name="libraryTable">
  <library name="Spring-4.3.10.RELEASE" type="spring">
    <properties version="4.3.10.RELEASE" />
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/lib/spring-aspects-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-aop-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-beans-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-support-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-context-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-expression-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-core-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-instrument-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-instrument-tomcat-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jms-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-orm-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-jdbc-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-oxm-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-messaging-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-test-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/spring-tx-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/mysql-connector-java-5.1.44-bin.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/hamcrest-core-1.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/lib/junit-4.12.jar!/" />
      <root url="jar://D:/toby_ex/Vol1-31/Libs/lib/com.springsource.javax.mail-1.4.0.jar!/" />
      <root url="jar://D:/toby_ex/Vol1-31/Libs/lib/com.springsource.javax.activation-1.1.0.jar!/" />
      <root url="jar://D:/toby_ex/Vol1-31/Libs/lib/org.springframework.context.support-3.1.2.RELEASE.jar!/" />
      <root url="jar://D:/toby_ex/Vol1-31/Libs/lib/mockito-all-1.8.4.jar!/" />
      <root url="jar://D:/toby_ex/Vol1-31/Libs/lib/com.springsource.org.aspectj.tools-1.6.6.RELEASE.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES>
      <root url="jar://D:/toby_ex/Vol1-31/Libs/lib/mockito-all-1.8.4.jar!/" />
    </SOURCES>
  </library>
</component>